play.modules.enabled += "modules.ApplicationModule"

# Default database configuration
slick.dbs.default.driver = "slick.driver.MySQLDriver$"
slick.dbs.default.db.driver = "com.mysql.jdbc.Driver"
slick.dbs.default.db.url = "jdbc:mysql://localhost/faff"
slick.dbs.default.db.user = ""
slick.dbs.default.db.password = ""
